html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  min-width: 1400px;
}

.el-breadcrumb {
  margin-bottom: 15px;
}

.el-card {
  box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.15) !important;
}
