@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1626073281058') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock_fill:before {
  content: "\e709";
}

.icon-lock:before {
  content: "\e70a";
}

.icon-mine:before {
  content: "\e70e";
}

.icon-mine_fill:before {
  content: "\e70f";
}

.icon-wode:before {
  content: "\f801";
}

.icon-shouquan:before {
  content: "\f802";
}

